<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>145247734917-4f4atauc0ded7fep02f25tl20askmpmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145247734917-4f4atauc0ded7fep02f25tl20askmpmj</string>
	<key>API_KEY</key>
	<string>AIzaSyDeMEnAz6-wAjMxzf29s1rTnfyjVhx8x1o</string>
	<key>GCM_SENDER_ID</key>
	<string>145247734917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.findinglocationsinuniversity.ios</string>
	<key>PROJECT_ID</key>
	<string>robotic-speech</string>
	<key>STORAGE_BUCKET</key>
	<string>robotic-speech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145247734917:ios:aca8ab2d9e587c1d</string>
	<key>DATABASE_URL</key>
	<string>https://robotic-speech.firebaseio.com</string>
</dict>
</plist>